.carousel-inner{
    width: 500px;
    height: 500px;
}
img{
    width: 1000px;
    height: 500px;
    align-items: center;
}
.img1{
    width:120px;
    height: 80px;
    border-radius: 100%;
}

.logos1{
    display: flex;
    justify-content: space-evenly;
}