@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

section {
    margin: 5%;
}

a {
    text-decoration: none;
    font-size: 20px;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
}

p {
    font-size: 20px;
}

/* NAV ORDI */
.div_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arobase {
    font-size: 40px;
}

.logo {
    width: 70px;
    height: 70px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6472AC;
}

nav ul {
    list-style-type: none;
}

nav h1 {
    color: #fff;
    text-decoration-style: none;
}

nav .onglets a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    padding-bottom: 5px;
}

/* NAV TELEPHONE */
.onglets_tel {
    height: 25px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
}

footer {
    color: #fff;
    padding: 30px 100px;
    background-color: #6472AC;
}

footer h1 {
    border-bottom: 1px solid #000;
    letter-spacing: 2px;
}

.nav-footer {
    border-bottom: none;
    background-color: #6472AC;
}

.nav-footer ul {
    padding: 0px;
}

.nav-footer ul li {
    padding-bottom: 5%;
}

.nav-footer ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-footer ul li a:hover {
    color: #000;
}

footer .services {
    display: flex;
    flex-wrap: wrap;
}

footer .services .service {
    margin-right: 30px;
}

footer .services .service p {
    max-width: 300px;
}

#end {
    text-align: center;
}

/* MEDIA */
/* MIN */
@media all and (min-width:769px) {
    .onglets_tel {
        display: none;
    }
}

/* MAX */
@media all and (max-width:769px) {

    .onglets {
        top: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(2px);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -150%;
        transition: all 0.5s ease-in-out;
        z-index: 2;
    }

    nav .onglets a {
        color: #000;
        margin: 25px 0px 25px 0px;
        font-size: 1.4em;
    }
    
    .onglets_tel{
        z-index: 3;
    }

    nav.menu-tel .onglets{
        margin-left: 0;
    }

    nav {
        justify-content: space-between;
        padding: 0% 5% 0% 2%;
    }
}

@media all and (max-width:425px) {
    footer {
        padding: 30px;
    }

    .regroup {
        display: block;
    }
}

@media all and (max-width:300px) {
    h1 {
        font-size: 1rem;
    }
}
