.img1 {
    width: 150px;
    border-radius: 100%;
    transition: .3 ease-in-out;
}

.img1:hover {
    width: 170px;
    box-shadow: 5px 5px 20px black;
}

.logos1 {
    display: flex;
    justify-content: space-around;
}

.logos1 div {
    margin-top: 10px;
}

@media all and (max-width:768px) {
    .img1 {
        width: 80px;
        height: 50px;
        border-radius: 100%;
    }

    .logos1 div {
        margin-top: 15px;
    }
}

@media all and (max-width:425px) {
    .img1 {
        width: 70px;
        height: 50px;
        border-radius: 100%;
    }

    section {
        margin: 0px;
        margin-bottom: 5%;
    }
}