@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

.arobase {
    font-size: 40px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #000;
    background-color: #717171;
}

nav ul {
    list-style-type: none;
}

nav h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

nav .onglets {
    margin-left: 30%;
}

nav .onglets a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

footer {
    margin-top: 40px;
    border-top: 5px solid #000;
    color: #fff;
    padding: 30px 100px;
    background-color: #717171;
}

footer h1 {
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid #000;
}

.nav-footer {
    border-bottom: none;
    background-color: #717171;
}

.nav-footer ul {
    padding: 0px;
}

.nav-footer ul li {
    padding-bottom: 5%;
}

.nav-footer ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-footer ul li a:hover {
    color: #000;
}

footer .services {
    display: flex;
    flex-wrap: wrap;
}

footer .services .service {
    margin-right: 30px;
}

footer .services .service p {
    max-width: 300px;
}

#end {
    text-align: center;
}