@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: #fff;
}

header {
    margin-bottom: 4%;
}

a {
    text-decoration: none;
    font-size: 20px;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
}

p {
    font-size: 20px;
}

.arobase {
    font-size: 40px;
}

.logo {
    width: 70px;
    height: 70px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #6472AC;
}

nav ul {
    list-style-type: none;
}

nav h1 {
    color: #fff;
    text-decoration-style: none;
}

nav .onglets {
    margin-left: 30%;
}

nav .onglets a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    padding-bottom: 5px;
}

footer {
    margin-top: 4%;
    color: #fff;
    padding: 30px 100px;
    background-color: #6472AC;
}

footer h1 {
    border-bottom: 1px solid #000;
    letter-spacing: 2px;
}

.nav-footer {
    border-bottom: none;
    background-color: #6472AC;
}

.nav-footer ul {
    padding: 0px;
}

.nav-footer ul li {
    padding-bottom: 5%;
}

.nav-footer ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-footer ul li a:hover {
    color: #000;
}

footer .services {
    display: flex;
    flex-wrap: wrap;
}

footer .services .service {
    margin-right: 30px;
}

footer .services .service p {
    max-width: 300px;
}

#end {
    text-align: center;
}