.titreh2 {
    color: #6472AC;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}
fieldset {
    display: flex;
    flex-direction: column;
}
span.required {
    color: red;
}
#formulaire {
    display: flex;
    justify-content: center;
}
input, textarea {
    margin: 0.7%;
}

textarea{
    margin-top: 1%;
}

label{
    padding-top: 1%;
    display: inline-block;
}
input[type=submit] {
    border: solid 2px #6472AC;
    width: 100%;
    background: none;
    cursor: pointer;
    color: #6472AC;
    border-radius: 9px;
    padding: 1vw;
    font-size: 1.2rem;
    margin: 0px;
    margin-top: 2vh;

}
input[type=submit]:hover {
    border: solid 2px #6472AC;
    background: #6472AC;
    color: #fff;
    border-radius: 7px;
    padding: 1vw;
    font-size: 1.2rem;
}
@media all and (max-width:425)
{
    label {
        font-size: 1.5rem;
    }
}