#container{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#adresse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

#coordonnes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

label:nth-of-type(1){
    grid-column: 1;
}

label:nth-of-type(2){
    grid-column: 2;
}

.titre{
    color: #6472AC;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

button{
    border: solid 2px #6472AC;
    background: none;
    cursor: pointer;
    color: #6472AC;
    border-radius: 9px;
    padding: 2.5%;
    margin: 2%;
    font-size: 1.2rem;
}

button:hover{
    background: #6472AC;
    border: solid 2px #6472AC;
    color: white;
    border-radius: 7px;
    padding: 2.5%;
    margin: 2%;
}

button::after{
    color: white;
}

.button{
    text-align: center;
}